<!DOCTYPE html>
<html>
<body>
    <h1>Clientes</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Evento</th>
            <th>Data</th>
            <th>Valor</th>
            <th>Status</th>
            <th>documentos</th>
            <th>arquivo</th>
            <th>ações</th>
            <th>Status</th>
        </tr>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[9] }}</td>
            <td><a href="/uploads/{{cliente[10]}}">{{ cliente[10] }}</a></td>
            <td>
                <form action="/deletar/{{ cliente[0] }}" method="POST">
                    <button type="submit">deletar</button>
                </form>
                
            </td>
            <td>
                <form action="/atualizar/{{cliente[0]}}" method="POST">
                    <select name="novo_status">
                        <option>Pendente</option>
                        <option>Confirmado</option>
                        <option>Cancelado</option>
                    </select>
                    <button type="Submit">Atualziar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
<!--Criação dos Botões com seus respectivos nomes -->
<!-- enctype: muda o formato do envio pra suportar arquivos binários. -->
<form action="/cadastrar" method="POST" enctype="multipart/form-data">
<input type="text" name="nome" placeholder="Nome do cliente" />
<input type="text" name="Telefone" placeholder="Telefone do cliente" />
<input type="text" name="evento" placeholder="Tipo de evento" />
<input type="date" name="data_evento" placeholder="Data do evento" />
<input type="number" name="Valor" placeholder="Valor do evento" />
<input type="text" name="observacao" placeholder="Observações feitas" />
<input type="text" name="documento" placeholder="CPF OU CNPJ" />
<input type="file" name="arquivo" accept=".pdf" />
<button type="submit">Salvar</button>
</form> 
</body>
</html>